.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-overlay-dark {
    height: 100%;
    width: 100%;
    background-color: rgba(96, 96, 96, 0.45);
    background-blend-mode: overlay;
    position: absolute;
    z-index: 1;
}